<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.emojiassistant.mapper.FavoriteMapper">

    <delete id="deleteByUserAndEmoji">
        DELETE FROM favorite WHERE user_id = #{userId} AND emoji_id = #{emojiId}
    </delete>

    <select id="countByUserAndEmoji" resultType="long">
        SELECT COUNT(*) FROM favorite WHERE user_id = #{userId} AND emoji_id = #{emojiId}
    </select>

    <delete id="deleteByEmojiId">
        DELETE FROM favorite WHERE emoji_id = #{emojiId}
    </delete>
</mapper>
